<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1053142229593-4tt3hq20od3ldos9lmjr6gphj67filoa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1053142229593-4tt3hq20od3ldos9lmjr6gphj67filoa</string>
	<key>API_KEY</key>
	<string>AIzaSyDtJJbuCzwuHPJdFJhTBjyRmzzMeWoYxhc</string>
	<key>GCM_SENDER_ID</key>
	<string>1053142229593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.FirstRNProject</string>
	<key>PROJECT_ID</key>
	<string>reactnative-demom</string>
	<key>STORAGE_BUCKET</key>
	<string>reactnative-demom.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053142229593:ios:03452a9db70543ce940748</string>
</dict>
</plist>